@import 'antd/dist/antd.css';
@import 'antd-button-color/dist/css/style.css';

.header-logo {
  float: left;
  width: 120px;
  height: 36px;
  margin: 14px auto;
  background: #b0b0b0;
  border-radius: 12px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.header-navbar {
  position: 'fixed';
  width: '100%';
  height: '200rem';
  background: #fff;
  z-Index: 1;
}

.site-form-item-icon {
  color: rgba(0, 0, 0, 0.25);
}
/* .ant-input{
  border-radius: 1rem;
} */

.ant-card-head {
  padding: 12px;
  /* height: 100px; */
}

.ant-card-head-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  font-size: 1.1rem;

}

.ant-card-head-title .ant-avatar-image {
  margin-right: 12px;
  width: 64px;
  height: 64px;
}

.ant-card-body {
  padding: 0.8rem 1rem;
}

.ant-card-body>p {
  margin-bottom: 4px;
}

.cart-title-avatar-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tag-user-status-green {
  display: inline-block;
  font-size: 0.5rem;
  font-weight: bold;
  padding: 0px 6px;
  color: green;
  border: 2px solid green;
  border-radius: 0.8rem;
}

.tag-user-status-yellow {
  display: inline-block;
  font-size: 0.5rem;
  font-weight: bold;
  padding: 0px 6px;
  color: #ffb700;
  border: 2px solid #ffb700;
  border-radius: 0.8rem;
}

.tag-user-status-red {
  display: inline-block;
  font-size: 0.5rem;
  font-weight: bold;
  padding: 0px 6px;
  color: red;
  border: 2px solid red;
  border-radius: 0.8rem;
}
.opt-box{
  color: red;
  border-radius: 1rem;
  margin-top: 3rem;
}
.opt-username {
  color: #555;
  font-size: 2rem;
  text-align: center;
  margin-top: 0.8rem;
}

.welcome-message {
  color: #555;
  padding-top: 0.4rem;
  font-size: 2.2rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.otp-message {
  color: #555;
  padding: 0.4rem;
  font-size: 2.8rem;
  font-weight: 500;
  text-align: center;
}

.otp-expire-message {
  color: #555;
  font-size: 1.2rem;
  text-align: right;
  font-weight: 500;
}

